eureka:
  client:
    enabled: false

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${auth-server.url}/realms/${auth-server.realm}
  datasource:
    url: jdbc:postgresql://${TEST_POSTGRES_HOST}/${POSTGRES_DB}
    username: ${ARTIFACTORY_POSTGRES_USER}
    password: ${ARTIFACTORY_POSTGRES_PASSWORD}

auth-server:
  url: # set via env
  logout-url: ${auth-server.url}/realms/${auth-server.realm}/protocol/openid-connect/logout?redirect_uri=http://${TEST_API_GATEWAY_HOST_EXTERNAL}/dms-service/swagger-ui/index.html
  realm: # set via env

server:
  forward-headers-strategy: framework

dms-service:
  webhook:
    url: http://${TEST_MOCK_SERVER_HOST}/webhook
    user: webhook-user
    password: webhook-password
  docker-registry: docker.io

storage:
  maven-group-prefix: corp.domain.dms
  artifactory:
    host: http://${TEST_ARTIFACTORY_HOST}
    external-request-host: http://${TEST_ARTIFACTORY_HOST_EXTERNAL}
    user: admin
    password: password
    upload-repositories:
      MAVEN: maven-upload-repo-local
    staging-repositories:
      MAVEN:
        - maven-dev-repo-local
      DEBIAN:
        - debian-dev-repo-local-1
        - debian-dev-repo-local-2
      RPM:
        - rpm-dev-repo-local
    release-repositories:
      DOCKER:
        - docker-repo-local
      MAVEN:
        - maven-release-repo-local
      DEBIAN:
        - debian-release-repo-local-1
        - debian-release-repo-local-2
      RPM:
        - rpm-release-repo-local

components-registry-service:
  url: http://${TEST_COMPONENTS_REGISTRY_HOST}

releng:
  host: http://${TEST_MOCK_SERVER_HOST}

release-management-service:
  url: http://${TEST_RELEASE_MANAGEMENT_HOST}

validation:
  license-validator:
    enabled: true
    pattern: ((.*[/\\])|^)licenses[/\\]THIRD-PARTY.txt$
  name-validator:
    enabled: true
    allowed-pattern: ^(?!.*([Uu][Nn][Aa][Ll][Ll][Oo][Ww][Ee][Dd])).*$
  content-validator:
    enabled: true
    parallelism: 20
    exclude:
      - '**/WEB-INF/licenses/**'
      - '**.bin'
      - '**.prm'
      - '**.exe'
      - '**.dll'
      - '**.so'
      - '**.gif'
      - '**.jpg'
      - '**.png'
      - '**.class'
      - '**.xsd'
      - '**.xsb'
      - '**.wsdl'
    forbidden-tokens:
      - unallowed
    forbidden-patterns:
      - .*unallowed.*

octopus-security:
  roles:
    ROLE_DMS_USER_DEV:
      - ACCESS_CONFIGURATION
      - ACCESS_META
      - ACCESS_NOTES
      - ACCESS_DOCUMENTATION
      - ACCESS_DISTRIBUTION
      - PUBLISH_ARTIFACT
      - DELETE_DATA

management:
  endpoints:
    web:
      exposure:
        include: health, env, metrics, threaddump, heapdump, info, configprops, prometheus, loggers
    loggers:
      enabled: true
  endpoint:
    health:
      show-details: always

logging.level:
  ROOT: INFO
  org.octopusden.cloud.commons.security: TRACE
  org.octopusden.octopus.dms.security: TRACE
  org.octopusden.octopus.dms: DEBUG