version: '3'

services:
    dms-db:
        container_name: dms-ft-dms-db
        image: ${DOCKER_REGISTRY}/postgres:${POSTGRES_IMAGE_TAG}
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_DB=dms
            - POSTGRES_USER=dms
            - POSTGRES_PASSWORD=dms

    artifactory:
        container_name: dms-ft-artifactory
        image: releases-docker.jfrog.io/jfrog/artifactory-oss:${ARTIFACTORY_IMAGE_TAG}
        ports:
            - "8081:8081"
            - "8082:8082"
        volumes:
            - ../../../../test-common/src/main/artifactory/dump:/dump
        logging:
            driver: json-file
            options:
                max-size: "50m"
                max-file: "10"
        ulimits:
            nproc: 65535
            nofile:
                soft: 32000
                hard: 40000

    components-registry-service:
        container_name: dms-ft-components-registry-service
        image: ${OCTOPUS_GITHUB_DOCKER_REGISTRY}/octopusden/components-registry-service:${OCTOPUS_COMPONENTS_REGISTRY_SERVICE_VERSION}
        ports:
            - "4567:4567"
        environment:
            - SPRING_CONFIG_ADDITIONAL_LOCATION=/
            - SPRING_PROFILES_ACTIVE=ft
            - SPRING_CLOUD_CONFIG_ENABLED=false
        volumes:
            - ./components-registry-service.yaml:/application-ft.yaml
            - ../../../../test-common/src/main/components-registry:/components-registry

    release-management-service:
        container_name: dms-ft-release-management-service
        image: ${OCTOPUS_GITHUB_DOCKER_REGISTRY}/octopusden/release-management-service:${OCTOPUS_RELEASE_MANAGEMENT_SERVICE_VERSION}
        ports:
            - "8083:8083"
        environment:
            - SPRING_CONFIG_ADDITIONAL_LOCATION=/
            - SPRING_PROFILES_ACTIVE=ft
            - SPRING_CLOUD_CONFIG_ENABLED=false
            - TEST_MOCK_SERVER_HOST=${TEST_MOCK_SERVER_HOST}
        volumes:
          - ./release-management-service.yaml:/application-ft.yaml

    mockserver:
        container_name: dms-ft-mockserver
        image: ${DOCKER_REGISTRY}/mockserver/mockserver:mockserver-${MOCK_SERVER_VERSION}
        ports:
            - "1080:1080"

    dms-service:
        container_name: dms-ft-dms-service
        image: ${OCTOPUS_GITHUB_DOCKER_REGISTRY}/octopusden/dms-service:${DMS_SERVICE_VERSION}
        ports:
            - "8080:8080"
        volumes:
            - ./dms-service.yaml:/application-ft.yaml
        depends_on:
            - dms-db
            - artifactory
            - components-registry-service
            - mockserver
        environment:
            - SPRING_CONFIG_ADDITIONAL_LOCATION=/
            - SPRING_PROFILES_ACTIVE=ft
            - SPRING_CLOUD_CONFIG_ENABLED=false
            - AUTH_SERVER_URL=${AUTH_SERVER_URL}
            - AUTH_SERVER_REALM=${AUTH_SERVER_REALM}
            - TEST_API_GATEWAY_HOST_EXTERNAL=${TEST_API_GATEWAY_HOST_EXTERNAL}
            - TEST_POSTGRES_HOST=${TEST_POSTGRES_HOST}
            - TEST_MOCK_SERVER_HOST=${TEST_MOCK_SERVER_HOST}
            - TEST_ARTIFACTORY_HOST=${TEST_ARTIFACTORY_HOST}
            - TEST_ARTIFACTORY_HOST_EXTERNAL=${TEST_ARTIFACTORY_HOST_EXTERNAL}
            - TEST_COMPONENTS_REGISTRY_HOST=${TEST_COMPONENTS_REGISTRY_HOST}
            - TEST_RELEASE_MANAGEMENT_HOST=${TEST_RELEASE_MANAGEMENT_HOST}

    api-gateway:
        container_name: dms-ft-api-gateway
        image: ${OCTOPUS_GITHUB_DOCKER_REGISTRY}/octopusden/api-gateway:${API_GATEWAY_VERSION}
        ports:
            - "8765:8765"
        volumes:
            - ./api-gateway.yaml:/application-ft.yaml
        environment:
            - SPRING_CONFIG_ADDITIONAL_LOCATION=/
            - SPRING_PROFILES_ACTIVE=ft
            - SPRING_CLOUD_CONFIG_ENABLED=false
            - AUTH_SERVER_URL=${AUTH_SERVER_URL}
            - AUTH_SERVER_REALM=${AUTH_SERVER_REALM}
            - AUTH_SERVER_CLIENT_ID=${AUTH_SERVER_CLIENT_ID}
            - AUTH_SERVER_CLIENT_SECRET=${AUTH_SERVER_CLIENT_SECRET}
            - TEST_DMS_SERVICE_HOST=${TEST_DMS_SERVICE_HOST}
            - TEST_API_GATEWAY_HOST_EXTERNAL=${TEST_API_GATEWAY_HOST_EXTERNAL}
        depends_on:
            - dms-service
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8765/dms-service/actuator/health" ]
            interval: 10s
            timeout: 30s
            retries: 50
