<!--
  ~ Artifactory is a binaries repository manager.
  ~ Copyright (C) 2019 JFrog Ltd.
  ~
  ~ Artifactory is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Artifactory is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with Artifactory.  If not, see <http://www.gnu.org/licenses/>.
  -->
<Server port="8015" shutdown="SndQWRXRecRV">
    <Service name="Catalina">
        <Connector port="8081" sendReasonPhrase="false" relaxedPathChars='[]' relaxedQueryChars='[]' maxThreads="200" encodedSolidusHandling="decode"  />

        <Connector port="8091" address="localhost" maxThreads="5" acceptCount="5" encodedSolidusHandling="decode"  />

        

        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" workDir="/opt/jfrog/artifactory/var/work/artifactory/tomcat" appBase="webapps" startStopThreads="3">
                <Valve className="org.apache.catalina.valves.ErrorReportValve" showReport="false" showServerInfo="false"/>
            </Host>
        </Engine>
    </Service>

</Server>

