.meta-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;

    & .meta-column {
        display: flex;
        flex-direction: column;
    }
}

.meta-item {
    display: flex;
    align-items: center;

    & > .meta-icon {
        margin-right: 8px;
    }

    & > .meta-item-key {
        margin-right: 5px;
    }
}
